#ifndef AUTH_H
#define AUTH_H

#define WIFI_SECURITY_WPA2_ENTERPRISE

// Configuration WiFi Enterprise
const char* WIFI_SSID = "climoilou";
const char* EAP_IDENTITY = "VOTRE_ID";
const char* EAP_USERNAME = "VOTRE_USER";
const char* EAP_PASSWORD = "VOTRE_PASSWORD_WIFI";

// Configuration APN (Access Point Name) - LTE
const char APN[] = "internet.keepgo.com";  
const char APN_USER[] = "";         
const char APN_PASS[] = "";         

// Configuration MQTT
const char MQTT_BROKER[] = "mqtt.edmondguenette.org";
const int  MQTT_PORT = 1883;
const char MQTT_USER[] = "esp_user";
const char MQTT_PASS[] = "VOTRE_PASSWORD_MQTT";

// Identifiant UNIQUE pour l'appareil (WiFi et LTE)
const char* MQTT_CLIENT_ID = "esp32-200701";

#endif // AUTH_H
